html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.submit {
  background-color: #0a53be;
  margin-top: 5px;
  justify-self: left;
  color: white;
  margin-left: 5px;
}

.form {
  background-color: #a1eeff;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}

p{
  margin: 0px;
}

.input {
  margin: 5px;
}

.message {
  background-color: #a1eeff;
  border-radius: 5px;
  margin-top: 10px;
  width: fit-content;
  padding: 5px;
}

h6 {
  margin: 0;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}